@import "tailwindcss";
@media (min-width: 640px) {
  /* Apply fixed background only on screens >= 640px (sm breakpoint) */
  .bg-fixed-desktop {
    background-attachment: fixed;
  }
}
/* Add to globals.css or as a Tailwind plugin */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-snap-align-center {
  scroll-snap-align: center;
}
.no-vertical-scroll {
  overflow-y: hidden !important;
  scroll-padding-block: 0;
  overscroll-behavior-y: contain;
}